header {
  background-color: var(--color-primary);
  height: 60px;
  display: flex;
  align-items: center;
}

.foodlovers-nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.foodlovers-nav-content h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}
.foodlovers-contact-container {
  display: flex;
  align-items: center;
}
.foodlovers-contact-link{
  margin: 0 0 0 10px;
  font-size: 12px;
}
#spanPizza{
  color: #198754;
}

